#app
  height: 100%

html,
body
  position: relative
  height: 100%

.swiper
  width: 100%
  height: 100%

.swiper-slide
  text-align: center
  font-size: 18px
  background: #fff

  /* Center slide text vertically */
  display: flex
  justify-content: center
  align-items: center


.swiper-slide img
  display: block
  width: 100%
  height: 100%
  object-fit: cover
  @media screen and (min-width: 901px)
    .swiper-slide img
      width: 100%
      height: 100%
      object-fit: cover
  @media screen and (max-width: 900px)
  @media screen and (max-width: 450px)


