@font-face {
  font-family: "IRANYekan";
  src: url("../fonts/IranYekan/eot/IRANYekanWebRegular.eot");
  src: url("../fonts/IranYekan/eot/IRANYekanWebRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/IranYekan/woff/IRANYekanWebRegular.woff") format("woff"), url("../fonts/IranYekan/ttf/IRANYekanWebRegular.ttf") format("truetype"), url("../fonts/IranYekan/svg/IRANYekanWebRegular.svg#IRANYekan") format("svg");
  font-weight: normal;
  font-style: normal;
}
.product_gallery {
  overflow: visible;
  margin-bottom: 20px;
}

.rtl-large-image {
  margin-left: 0 !important;
  left: calc(-170% - 10px) !important;
  top: calc(10% - 10px) !important;
}

.custom-container {
  justify-self: center;
}

.image-gallery .gallery-content {
  width: 82px;
  height: 82px;
  border-radius: 8px;
}
.image-gallery .gallery-content button {
  border: 2px #dedfe5 solid;
  border-radius: 8px;
}
.image-gallery .gallery-content:last-child img {
  filter: blur(2px);
}
.image-gallery .gallery-content img {
  width: 72px;
  height: 72px;
  border-radius: 8px;
}

.model-gallery {
  width: 72px;
  height: 72px;
  border: 2px #dedfe5 solid;
  border-radius: 8px;
  margin: 5px;
}
.model-gallery img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.product-box-left {
  background-color: #f5f5f6;
}

.product-title {
  color: #3f4064;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 5px 5px;
  padding: 10px 15px;
}

.product-en-title {
  color: #929294;
  font-size: 0.7rem;
  font-weight: 700;
  margin: 5px 5px;
}

.hr-custom {
  color: #929294;
  margin: 5px 5px;
  border: 0;
  border-top: 1px solid;
}

.middle-details-box {
  padding: 20px 10px 5px;
}

.middle-detail {
  color: #929294;
  font-size: 0.7rem;
  font-weight: 700;
  margin: 5px 5px;
}

.middle-detail-value {
  font-size: 0.8rem;
  margin: 5px 5px;
}

.box-svg svg.injected-svg {
  width: 42px;
  height: 42px;
}

.semi-footer {
  padding: 12px 12px 28px;
}

.text-caption-strong {
  font-weight: 700;
  line-height: 2.17;
  margin-bottom: 0;
  align-self: center;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .custom-container {
    margin: 20px 10px;
  }
  .product_gallery {
    width: 36%;
  }
  .product-box {
    width: 50%;
  }
  .product-box-left {
    width: 30%;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid #dedfe5;
    border-radius: 10px;
  }
  .semi-footer {
    margin: 12px 0;
    border-top: solid 2px #f1f2f4;
    border-bottom: solid 4px #f1f2f4;
  }
  .text-caption-strong {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 991px) {
  .custom-container {
    margin: 0;
  }
  .box-sm {
    border: solid 2px 20px #f1f2f4;
  }
  .product_gallery {
    width: 100%;
  }
  .product-box {
    width: 100%;
  }
  .product-box-left {
    width: 100%;
    background-color: #fdfdfd;
    padding: 0;
    border: solid 5px #f1f2f4;
    margin: 0;
    justify-self: center;
  }
  .sub-title {
    display: none !important;
  }
  .bottom-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fdfdfd;
    z-index: 1030;
    padding: 20px;
    box-shadow: -2px -3px 5px -2px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: -2px -3px 5px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -2px -3px 5px -2px rgba(0, 0, 0, 0.19);
  }
  .semi-footer {
    margin: 12px 0;
    border-top: solid 4px #f1f2f4;
    border-bottom: solid 7px #f1f2f4;
  }
  .text-caption-strong {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=main_sector.css.map */
