@import "../../../../../../components/static/css/fonts"
@import "../../../../../../components/static/css/color"


.product_gallery
  //width: 36%
  overflow: visible
  margin-bottom: 20px

.rtl-large-image
  margin-left: 0 !important
  left: calc(-170% - 10px) !important
  //left: 10px !important
  top: calc(+10% - 10px) !important

.custom-container
  justify-self: center

.image-gallery
  //width: 100%
  //margin: auto 10px


  .gallery-content
    width: 82px
    height: 82px
    //border: 1px $light-border-2 solid
    border-radius: 8px
    //margin: 5px 5px
    button
      border: 2px $light-border-2 solid
      border-radius: 8px

    &:last-child
      img
        filter: blur(2px)

    img
      width: 72px
      height: 72px
      border-radius: 8px

.model-gallery
  width: 72px
  height: 72px
  border: 2px $light-border-2 solid
  border-radius: 8px
  margin: 5px

  img
    width: 70px
    height: 70px
    border-radius: 8px


//.product-box


.product-box-left
  background-color: $bg-light_1


.product-title
  color: $font-color
  //direction: rtl
  font-size: 1.2rem
  font-weight: 700
  margin: 5px 5px
  padding: 10px 15px
//line-height: 2.12
.product-en-title
  color: $light-text
  //direction: rtl
  font-size: 0.7rem
  font-weight: 700
  margin: 5px 5px


.hr-custom
  color: $light-text
  margin: 5px 5px
  border: 0
  border-top: 1px solid


.middle-details-box
  padding: 20px 10px 5px

.middle-detail
  color: $light-text
  //direction: rtl
  font-size: 0.7rem
  font-weight: 700
  margin: 5px 5px

.middle-detail-value
  font-size: 0.8rem
  margin: 5px 5px

.box-svg
  svg.injected-svg
    width: 42px
    height: 42px

.semi-footer
  padding: 12px 12px 28px

.text-caption-strong
  font-weight: 700
  line-height: 2.17
  margin-bottom: 0
  align-self: center
  text-align: center

@media screen and (min-width: 992px)

  .custom-container
    margin: 20px 10px

  .product_gallery
    width: 36%
  //overflow: visible

  .product-box
    width: 50%

  .product-box-left
    width: 30%
    margin: 10px 5px
    padding: 5px 10px
    border: 1px solid $light-border_2
    border-radius: 10px
  .semi-footer
    margin: 12px 0
    border-top: solid 2px $color-neutral-100
    border-bottom: solid 4px $color-neutral-100

  .text-caption-strong
    font-size: 0.7rem


@media screen and (max-width: 991px)

  .custom-container
    margin: 0
  .box-sm
    border: solid 2px 20px $color-neutral-100
  .product_gallery
    width: 100%

  //overflow: visible

  .product-box
    width: 100%

  .product-box-left
    width: 100%
    background-color: $bg-nav
    padding: 0
    border: solid 5px $color-neutral-100
    margin: 0
    justify-self: center

  .sub-title
    display: none !important
  .bottom-box
    position: fixed
    bottom: 0
    left: 0
    right: 0
    background-color: $bg_nav
    z-index: 1030
    padding: 20px
    box-shadow: -2px -3px 5px -2px rgba(0, 0, 0, 0.19)
    -webkit-box-shadow: -2px -3px 5px -2px rgba(0, 0, 0, 0.19)
    -moz-box-shadow: -2px -3px 5px -2px rgba(0, 0, 0, 0.19)
  .semi-footer
    margin: 12px 0
    border-top: solid 4px $color-neutral-100
    border-bottom: solid 7px $color-neutral-100
  .text-caption-strong
    font-size: 0.5rem


@media screen and (max-width: 450px)

