//@import url(font-face.css)
@font-face
  font-family: 'IRANYekan'
  src: url('../fonts/IranYekan/eot/IRANYekanWebRegular.eot')
  src: url('../fonts/IranYekan/eot/IRANYekanWebRegular.eot?#iefix') format("embedded-opentype"), url('../fonts/IranYekan/woff/IRANYekanWebRegular.woff') format("woff"), url('../fonts/IranYekan/ttf/IRANYekanWebRegular.ttf') format("truetype"), url('../fonts/IranYekan/svg/IRANYekanWebRegular.svg#IRANYekan') format("svg")
  font-weight: normal
  font-style: normal

$font-size-1-6: 1.6rem
$font-size-1-4: 1.4rem
$font-size-1-2: 1.2rem
$font-size-1: 1rem
$font-size-0-9: 0.9rem
$font-size-0-8: 0.8rem
$font-size-0-7: 0.7rem
$font-size-0-6: 0.6rem
$font-primary: "IRANYekan"