@import './src/components/static/css/fonts.sass'
@import './src/components/static/css/color'

*
  box-sizing: border-box
  outline: none
  margin: 0
  padding: 0

body
  font-family: $font-primary
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.rtl
  direction: rtl

body::-webkit-scrollbar
  width: 8px


body::-webkit-scrollbar-track
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)


body::-webkit-scrollbar-thumb
  background-color: darkgrey
  //outline: 1px solid slategrey
  border-radius: 40px

.padding-5-10
  padding: 5px 15px

.color-400
  color: $color-400

.btn-add-to-cart
  background: $primary_1
  font-size: 0.8rem
  font-weight: 700
  line-height: 2.17
  padding: 8px 16px
  color: #fff

  &:hover, &:active
    color: #fff !important
    background: $primary_1 !important


//@media screen and (min-width: 901px)
//
//
//
//@media screen and (max-width: 900px)
//
//
//@media screen and (max-width: 450px)


