@import "../../static/css/fonts"
@import "../../static/css/color"



nav


  hr
    margin: 0
    opacity: 0.1


  a
    text-decoration: none
    color: $font-color

    &:hover
      color: $font-color
      cursor: pointer


  .banner
    img
      object-fit: cover

  .nav-2
    padding: 2px 10px
    background-color: $bg_nav
    z-index: 3

    hr
      margin: 0 0.5rem
      opacity: 0.1
      background-color: $bg_nav


    .logo
      align-self: center
      padding: 5px 0


    .nav-inner
      flex-direction: row

      .search-bar
        border-radius: 10px
        background-color: $search_bar
        padding: 5px
        flex-grow: 0.5
        margin-left: 20px


        input
          background-color: transparent
          padding: 2px 5px
          border-style: none
          border-radius: 10px
          height: 30px

          &:focus-visible
            border: solid $light-border 1px
            outline: none


      .navbar-btn-left
        flex-grow: 1

        .nav-icon-container
          border: solid 2px $light-border
          padding: 2px 7px
          border-radius: 10px
          font-size: 0.8rem


          i
            padding: 10px 10px

  .nav-scroll
    position: sticky
    background-color: $bg_nav
    top: 0
    height: 35px
    transition: transform 150ms ease-in-out
    z-index: 2
    -webkit-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75)
    -moz-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75)
    box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75)

    .vr
      margin: 10px 1px
      opacity: 30%

    .dropdown-pill
      font-size: $font-size-0-9
      color: $font-color
      font-weight: 900
      line-height: 2.15

    .nav-3-pill
      color: gray
      position: relative
      margin: 10px 0
      padding: 12px 10px
      font-size: $font-size-0-8
      font-weight: 700
      height: 40px


      &:hover
        color: $font-color


      i
        padding-left: 3px


      &::after
        content: ""
        background: red
        height: 2px
        position: absolute
        bottom: 5px
        transition: .16s all 0.025s
        left: 0
        right: 100%

      &:hover
        & ~ div
          &::after
            left: 100%
            right: 0

        &::after
          left: 0
          right: 0

  .nav-bar--hidden
    transform: translateY(-100%)

//hr
//  margin: 0.5rem 0.5rem
//  opacity: 1


@media screen and (max-width: 992px)

  .nav-inner
    margin: 5px 0
    height: 30px
  .nav-2
    flex-direction: column
    justify-self: center


  .search-bar
    flex-grow: 2
    height: 30px

    input
      height: 20px !important
      font-size: 0.8rem
      margin: 5px 0


  .banner
    img
      height: 35px

  .nav-scroll
    .dropdown-pill
      font-size: $font-size-0-8 !important
      color: $font-color


    .nav-3-pill
      font-size: $font-size-0-7 !important
  .nav-icon-container
    height: 30px


@media screen and (max-width: 450px)
  .nav-scroll
    display: none !important
  nav
    position: relative !important











