@font-face {
  font-family: "IRANYekan";
  src: url("../fonts/IranYekan/eot/IRANYekanWebRegular.eot");
  src: url("../fonts/IranYekan/eot/IRANYekanWebRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/IranYekan/woff/IRANYekanWebRegular.woff") format("woff"), url("../fonts/IranYekan/ttf/IRANYekanWebRegular.ttf") format("truetype"), url("../fonts/IranYekan/svg/IRANYekanWebRegular.svg#IRANYekan") format("svg");
  font-weight: normal;
  font-style: normal;
}
nav hr {
  margin: 0;
  opacity: 0.1;
}
nav a {
  text-decoration: none;
  color: #3f4064;
}
nav a:hover {
  color: #3f4064;
  cursor: pointer;
}
nav .banner img {
  object-fit: cover;
}
nav .nav-2 {
  padding: 2px 10px;
  background-color: #fdfdfd;
  z-index: 3;
}
nav .nav-2 hr {
  margin: 0 0.5rem;
  opacity: 0.1;
  background-color: #fdfdfd;
}
nav .nav-2 .logo {
  align-self: center;
  padding: 5px 0;
}
nav .nav-2 .nav-inner {
  flex-direction: row;
}
nav .nav-2 .nav-inner .search-bar {
  border-radius: 10px;
  background-color: #eff0f2;
  padding: 5px;
  flex-grow: 0.5;
  margin-left: 20px;
}
nav .nav-2 .nav-inner .search-bar input {
  background-color: transparent;
  padding: 2px 5px;
  border-style: none;
  border-radius: 10px;
  height: 30px;
}
nav .nav-2 .nav-inner .search-bar input:focus-visible {
  border: solid #8d8d8d 1px;
  outline: none;
}
nav .nav-2 .nav-inner .navbar-btn-left {
  flex-grow: 1;
}
nav .nav-2 .nav-inner .navbar-btn-left .nav-icon-container {
  border: solid 2px #8d8d8d;
  padding: 2px 7px;
  border-radius: 10px;
  font-size: 0.8rem;
}
nav .nav-2 .nav-inner .navbar-btn-left .nav-icon-container i {
  padding: 10px 10px;
}
nav .nav-scroll {
  position: sticky;
  background-color: #fdfdfd;
  top: 0;
  height: 35px;
  transition: transform 150ms ease-in-out;
  z-index: 2;
  -webkit-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75);
}
nav .nav-scroll .vr {
  margin: 10px 1px;
  opacity: 30%;
}
nav .nav-scroll .dropdown-pill {
  font-size: 0.9rem;
  color: #3f4064;
  font-weight: 900;
  line-height: 2.15;
}
nav .nav-scroll .nav-3-pill {
  color: gray;
  position: relative;
  margin: 10px 0;
  padding: 12px 10px;
  font-size: 0.8rem;
  font-weight: 700;
  height: 40px;
}
nav .nav-scroll .nav-3-pill:hover {
  color: #3f4064;
}
nav .nav-scroll .nav-3-pill i {
  padding-left: 3px;
}
nav .nav-scroll .nav-3-pill::after {
  content: "";
  background: red;
  height: 2px;
  position: absolute;
  bottom: 5px;
  transition: 0.16s all 0.025s;
  left: 0;
  right: 100%;
}
nav .nav-scroll .nav-3-pill:hover ~ div::after {
  left: 100%;
  right: 0;
}
nav .nav-scroll .nav-3-pill:hover::after {
  left: 0;
  right: 0;
}
nav .nav-bar--hidden {
  transform: translateY(-100%);
}

@media screen and (max-width: 992px) {
  .nav-inner {
    margin: 5px 0;
    height: 30px;
  }
  .nav-2 {
    flex-direction: column;
    justify-self: center;
  }
  .search-bar {
    flex-grow: 2;
    height: 30px;
  }
  .search-bar input {
    height: 20px !important;
    font-size: 0.8rem;
    margin: 5px 0;
  }
  .banner img {
    height: 35px;
  }
  .nav-scroll .dropdown-pill {
    font-size: 0.8rem !important;
    color: #3f4064;
  }
  .nav-scroll .nav-3-pill {
    font-size: 0.7rem !important;
  }
  .nav-icon-container {
    height: 30px;
  }
}
@media screen and (max-width: 450px) {
  .nav-scroll {
    display: none !important;
  }
  nav {
    position: relative !important;
  }
}

/*# sourceMappingURL=header.css.map */
