@font-face {
  font-family: "IRANYekan";
  src: url("../fonts/IranYekan/eot/IRANYekanWebRegular.eot");
  src: url("../fonts/IranYekan/eot/IRANYekanWebRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/IranYekan/woff/IRANYekanWebRegular.woff") format("woff"), url("../fonts/IranYekan/ttf/IRANYekanWebRegular.ttf") format("truetype"), url("../fonts/IranYekan/svg/IRANYekanWebRegular.svg#IRANYekan") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slider-container {
  background-color: #e93f51;
  overflow-x: hidden;
}
.slider-container .slider-warper {
  margin: 0 2px;
  overflow-x: hidden;
}
.slider-container .slider-warper .slider {
  position: relative;
  margin: 0 2px;
  cursor: default !important;
}
.slider-container .slider-warper .slider .slide {
  background-color: #fdfdfd;
}
.slider-container .slider-warper .slider .slide a {
  cursor: default !important;
}
.slider-container .slider-warper .slider .slide:last-child {
  border-radius: 0 10px 10px 0;
  margin-right: 20px;
}
.slider-container .slider-warper .slider .slide .product-card {
  color: #3f4064;
}
.slider-container .slider-warper .slider .slide .product-card .product-img {
  width: 150px;
  height: 150px;
}
.slider-container .slider-warper .slider .slide .product-card .product-img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: center;
}
.slider-container .slider-warper .slider .slide .product-card .product-price {
  font-weight: 700;
}
.slider-container .slider-warper .slider .slide .product-card .toman-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="../../static/svg/toman.svg" width="10" height="10" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>') 0 0/contain no-repeat;
}
.slider-container .slider-warper .slider .slide .product-card .product-info-box {
  text-align: right;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.slider-container .slider-warper .slider .slide .product-card .product-info-box .product-info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media screen and (min-width: 901px) {
  .slider-container {
    padding: 10px 2px 10px 2px;
    margin: 10px 20px;
    border-radius: 20px;
  }
  .slider-container .slider-warper {
    margin: 0 2px;
  }
  .slider-container .slider-warper .slide {
    width: 192px;
    min-width: 192px;
    max-width: 192px;
    margin: 20px 2px;
    padding: 12px 16px;
  }
  .slider-container .slider-warper .slide .product-info {
    font-size: 0.8rem;
    margin: 20px 0;
  }
  .slider-container .slider-warper .slide .product-price {
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .slider-container {
    padding: 10px 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .slider-container .slider-warper {
    margin: 0;
  }
  .slider-container .slider-warper .slide {
    width: 182px;
    min-width: 182px;
    max-width: 182px;
    margin: 10px 2px;
    padding: 10px 14px;
  }
  .slider-container .slider-warper .slide .product-info {
    font-size: 0.7rem;
    margin: 20px 0;
  }
  .slider-container .slider-warper .slide .product-price {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 450px) {
  .slider-container {
    padding: 5px 0;
  }
  .slider-container .slide {
    width: 154px;
    min-width: 154px;
    max-width: 154px;
    margin: 5px 2px;
    padding: 5px 14px;
  }
}

/*# sourceMappingURL=product-card.css.map */
