@import "../../../../../components/static/css/fonts"
@import "../../../../../components/static/css/color"

.slider-container
  background-color: $secondary_1
  overflow-x: hidden


  .slider-warper
    margin: 0 2px
    overflow-x: hidden


    .slider
      position: relative
      margin: 0 2px
      cursor: default !important


      .slide
        background-color: $bg-product


        a
          cursor: default !important


        //margin-left: 6vw

        &:last-child
          border-radius: 0 10px 10px 0
          margin-right: 20px


        .product-card
          color: $font-color

          .product-img
            width: 150px
            height: 150px

            img
              width: 150px
              height: 150px
              object-fit: contain
              object-position: center

          .product-price
            font-weight: 700


          .toman-icon
            background: url('data:image/svg+xml;utf8,<svg xmlns="../../static/svg/toman.svg" width="10" height="10" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>') 0 0/contain no-repeat

          .product-info-box
            text-align: right
            font-weight: 600
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
            overflow: hidden

            .product-info
              display: -webkit-box
              -webkit-box-orient: vertical
              -webkit-line-clamp: 2
              overflow: hidden

@media screen and (min-width: 901px)

  .slider-container
    padding: 10px 2px 10px 2px
    margin: 10px 20px
    border-radius: 20px

    .slider-warper
      margin: 0 2px

      .slide
        width: 192px
        min-width: 192px
        max-width: 192px
        margin: 20px 2px
        padding: 12px 16px

        .product-info
          font-size: $font-size-0-8
          margin: 20px 0

        .product-price
          font-size: $font-size-1

@media screen and (max-width: 900px)

  .slider-container
    padding: 10px 0
    margin: 0
    width: 100%
    border-radius: 0

    .slider-warper
      margin: 0

      .slide
        width: 182px
        min-width: 182px
        max-width: 182px
        margin: 10px 2px
        padding: 10px 14px

        .product-info
          font-size: $font-size-0-7
          margin: 20px 0

        .product-price
          font-size: $font-size-0-9


@media screen and (max-width: 450px)

  .slider-container
    padding: 5px 0

    .slide
      width: 154px
      min-width: 154px
      max-width: 154px
      margin: 5px 2px
      padding: 5px 14px

//.container-swiper-parent
//  padding: 10px 2px 10px 2px
//
//  background-color: $secondary_1
//
//  .container-swiper
//    //touch-action: pan-y

    //margin-left: auto
    //margin-right: auto
    //position: relative
    //overflow-y: hidden
    //overflow-x: scroll
    //scrollbar-gutter: unset
    //padding: 0
    //z-index: 1
    //
    //
    //
    //.swiper-warper
    //  transition-timing-function: ease-out
    //  margin: 0 auto
    //  transform: translate3d(0px, 0px, 0px)
    //  transition-duration: 0ms
    //  -webkit-transform: translateZ(0)
    //  transform: translateZ(0)
    //  position: relative
    //  width: 100%
    //  height: 100%
    //  z-index: 1
    //  display: flex
    //  transition-property: -webkit-transform
    //  transition-property: transform
    //  transition-property: transform, -webkit-transform
    //  box-sizing: content-box
    //
    //  .swiper-warper
    //    flex-shrink: 0
    //    width: 100%
    //    height: 100%
    //    position: relative
    //    transition-property: -webkit-transform
    //    transition-property: transform
    //    transition-property: transform, -webkit-transform

//.container-scroll
//    width: 100%
//    max-width: 1336px
//    position: relative
//    justify-content: start
//    padding: 0 10px 0 10px
//    text-decoration: none
//
//    .container-inner
//      background-color: $secondary_1
//      border-radius: 10px
//      overflow: auto
//      white-space: nowrap
//      margin-left: 20px
//      flex-wrap: nowrap
//
//
//      .product-card
//        width: 182px
//        min-width: 182px
//        max-width: 182px
//        background-color: $bg-product
//        margin: 20px 2px
//
//        &:first-child
//          border-radius: 0 10px 10px 0
//          margin-right: 100px



